.header
  %nav
    %ul.nav.nav-pills.pull-right
      %li{:role => "presentation"}
        = link_to t("helpers.link.menu.members"), members_path
      %li{:role => "presentation"}
        = link_to t("helpers.link.menu.big_tree"), big_tree_members_path
  %h3.text-muted= t("project_name")