%div
  - if member.partner
    = link_to member.full_name, member, class: "first-partner"
    %br
    = link_to member.partner.full_name, member.partner, class: "second-partner"
  - else
    = link_to member.full_name, member